// @name Footer
// @description All footer styles

.footer {
    padding: ($spacer * 2) $spacer;
    text-align: center;
    border-top: 1px solid #edefee;
    font-size: 0.8rem;

    &__title {
        
    }

    &__subtitle {
    
    }
}

.red {
    color:#FF0100
}
