// @name Typography
// @description All typography settings and styles

@import url(https://fonts.googleapis.com/css?family=Lora:400,700|Playfair+Display:400,700,900);

@import url(https://fonts.googleapis.com/css?family=PT+Sans|Anonymous+Pro:700);

// Our variables
//$base-font-family: "Lora", Helvetica, Arial, sans-serif;
//$base-font-family: "Montserrat", sans-serif;//
//$base-font-family: "Anonymous Pro", monospace;//
$base-font-family: "PT Sans", sans-serif;
$base-font-size:   16px;

body {
    font-family: $base-font-family, serif;
    font-size: $base-font-size;
    line-height: 1.4;
}

.logotext {
    font-family: "Anonymous Pro" !important;
    font-weight: 700;
    font-size: 20px;
}

.serif {
	font-family: "Georgia", sans-serif;
    font-size:20px;
    font-weight:normal;
}
